:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;
  
    --fw-reg: 300;
    --fw-bold: 900;
  
    --clr-light: #fff;
    --clr-dark: #303030;
    /* --clr-accent: #16e0bd; */
    --clr-accent: #a3e016;
    --clr-lightviolet: #ecc0ff;
  
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
  }
  @font-face {
    font-family: Philosopher;
    src: url(./Fonts/Philosopher/Philosopher-Regular.ttf);
  }
  @font-face {
    font-family: Philosopher-Bold;
    src: url(./Fonts/Philosopher/Philosopher-Bold.ttf);
  }
  strong {
    font-weight: var(--fw-bold);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
  }
  
  .cloud {
    display: flex;
    position: absolute;
    /* border: 1px solid white; */
    border-radius: 23px;
    background: linear-gradient(
      -45deg,
      var(--clr-accent),
      rgba(245, 179, 229, 0.27)
    );
  }
  
  .cloud1 {
    width: 80px;
    height: 80px;
    top: 100px;
    left: 50px;
    animation: animate1 5s ease infinite;
  }
  
  .cloud2 {
    width: 80px;
    height: 80px;
    top: 100px;
    right: 50px;
    animation: animate2 5s ease infinite;
  }
  
  .cloud3 {
    width: 80px;
    height: 80px;
    top: 350px;
    left: 50px;
    animation: animate1 5s ease infinite;
  }
  .cloud4 {
    width: 80px;
    height: 80px;
    top: 350px;
    right: 50px;
    animation: animate2 5s ease infinite;
  }
  .cloud5 {
    width: 80px;
    height: 80px;
    top: 600px;
    left: 50px;
    animation: animate1 5s ease infinite;
  }
  .cloud6 {
    width: 80px;
    height: 80px;
    top: 600px;
    right: 50px;
    animation: animate2 5s ease infinite;
  }
  
  @keyframes animate1 {
    0% {
      opacity: 0;
      /* transform: translateX(-20px); */
      transform: translateX(-20px) rotate(-40deg);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

  @keyframes animate2 {
    0% {
      opacity: 0;
      /* transform: translateX(-20px); */
      transform: translateX(20px) rotate(-40deg);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(20px);
    }
  }
  
  .navigation {
    /* border: 1px solid; */
    width: 100%;
    height: 10vh;
    display: flex;
    border-bottom: 0.2px solid #96898943;
    background-color: #edf1f4;
    font-family: Philosopher;
    
  }
  .navigation img[alt="logo"] {
    /* border: 1px solid; */
    margin: 8px 0 0 35px;
    width: 380px;
  }
  .linksto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    /* border: solid; */
  }
  
  .linksto ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid; */
    gap: 80px;
  }
  
  .linksto ul li a {
    /* border: solid; */
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    /* color: var(--clr-light) */
    color: rgba(51, 71, 30, 0.801);
  }
  .linksto ul li a[title = "home"]{
    color: rgb(255, 142, 4);
    border-bottom: 2px solid rgb(255, 142, 4);
  }
  
  .linksto li a {
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;
  }
  .linksto a:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid rgb(127, 179, 74);
    color: forestgreen;
  }
  .menu-icon {
    color: black;
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    border: 5px solid transparent;
  }
  .menu-icon:hover {
    font-size: 23px;
    border-radius: 20px;
  }
  
  /* Navbar CSS Completed */
  /* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* Mainpart Content Starts */
  
 